.container {
    border-radius: 5px;
    max-width: 1200px;
    height: 200px;
    background-image: url(titlebar.svg);
    margin: 5px auto 0 auto;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: #dddddd;
    color: #ffffff;
    min-width: 1200px;
}

.project_list a {
    width: 700px;
    height: 75px;
    font-size: 54px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    margin: 0 auto 5px auto;
    background: #000000;
    color: #ffffff;
    text-align: center;
    box-shadow: inset 8px 5px 1px #dedede;
}

.project_list .first {
    margin-top: 50px;
}

.container a {
    float: right;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    color: #fff;
    background-color: #111111;
    margin-top: 5px;
    margin-right: 5px;
    box-shadow: 1px 2px 2px;
    width: 100px;
    height: 30px;
}

.projects {
    border-radius: 5px;
}


.about {
    border-radius: 5px;
}

.projects:hover {
    background-color: #000000;
}

.about:hover {
    background-color: #000000;
}

.container h1 a {
    float: right;
    font-size: 72px;
    background: #000;
    width: 400px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    margin: 5px 0 0 5px;
    position: absolute;
}

p {
    font-size: 36px;
    width: 700px;
    text-align: center;
    margin: 50px auto 0 auto;
    background: #fff;
    color: #000;
    border-radius: 5px;
    
}

